* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 16px "Roboto", sans-serif;
}

#header {
	padding: 1rem;
	background-color: #007bff;
	color: #fff;
	border-bottom: #333 1px solid;
}
.h1 {
	font-size: 3rem;
	margin: 2rem;
	text-align: center;
}

.titles {
	text-align: center;
	font-size: 2rem;
	margin: 2rem;
}

.character-card {
	max-width: 25rem;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 10px auto;
	border-radius: 5px;
	background-color: #f9f9f9;
	box-shadow: #666 5px 5px 15px;
}

.character-card:hover,
.episode-card:hover {
	transform: scale(1.05);
	transition: transform 0.3s;
	cursor: pointer;
}

.character-name {
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
}

.character-info {
	font-size: 16px;
	color: #666;
}

.character-info span {
	font-weight: bold;
	color: #333;
}

.delete-button {
	background-color: #f44336;
	color: #000;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.delete-button:hover {
	background-color: #d20000;
}

#characters {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.episode-card {
	border: 1px solid #ccc;
	padding: 20px;
	margin: 20px auto;
	max-width: 90%;
	border-radius: 5px;
	background-color: #f9f9f9;
	box-shadow: #666 2px 2px 15px;
}

.episode-title {
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
}

.episode-info {
	font-size: 16px;
	color: #666;
}

.episode-info span {
	font-weight: bold;
	color: #333;
}

.question-card {
	min-height: 12rem;
	max-width: 25rem;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 10px auto;
	border-radius: 5px;
	background-color: #f9f9f9;
	box-shadow: #666 5px 5px 15px;
}

.question-title {
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
}

.question-info {
	font-size: 16px;
	color: #666;
}

.question-info span {
	font-weight: bold;
	color: #333;
}

#questions {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	background-color: #fefefe;
	margin: 1rem auto;
	padding: 20px;
	border: 1px solid #888;
	max-width: 40rem;
}

.modal-content img {
	width: 10rem;
	height: auto;
}

.episode-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.episode-details h2 {
	font-size: 2rem;
	font-weight: bold;
}

#create-char {
	width: 300px;
	margin: 4rem auto;
	padding: 20px;
	background-color: #f8f9fa;
	border-radius: 5px;
	box-shadow: #666 2px 2px 15px;
}

#create-char h3 {
	text-align: center;
	color: #111;
}

#charForm {
	display: flex;
	flex-direction: column;
}

#charForm label {
	margin-bottom: 5px;
	color: #111;
}

#charForm input {
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #ced4da;
	border-radius: 5px;
}

#charForm button {
	font-size: 1.5rem;
	padding: 10px;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#charForm button:hover {
	background-color: #0056b3;
}

#epiForm {
	display: flex;
	flex-direction: column;
}

#epiForm label {
	margin-bottom: 5px;
	color: #111;
}

#epiForm input {
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #ced4da;
	border-radius: 5px;
}

#epiForm button {
	font-size: 1.5rem;
	padding: 10px;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#epiForm button:hover {
	background-color: #0056b3;
}

#create-epi {
	width: 300px;
	margin: 20px auto;
	padding: 20px;
	background-color: #f8f9fa;
	border-radius: 5px;
	box-shadow: #666 2px 2px 15px;
}

#create-epi h3 {
	text-align: center;
	color: #111;
}

@media screen and (max-width: 1000px) {
	#characters,
	#questions {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 768px) {
	#characters,
	#questions {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 480px) {
	#characters,
	#questions {
		grid-template-columns: 1fr;
	}
}
